.dropdown {
    position: relative;
    background-color: white;
    min-width: 13.5rem;

    #modal-alias {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }

    .dropdown-title {
        width: 100%;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        padding: 0 1rem;
        border-radius: 0.8rem;
        cursor: pointer;
        height: 3.3rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
        // background-image: url(../../../../assets/image/icon-dropdow-black.png);
        // background-repeat: no-repeat;
        // background-position: right 1rem center;
        font-size: 15px;
        color: #000000;
        position: relative;
        &::after{
            content: "";
            width: 0px;
            height: 0px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid #000;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
        }
        // background-image: url(../../../../assets/image/icon-dropdow-black.png);
        // background-repeat: no-repeat;
        // background-position: right 1rem center;
        // font-size: 1.6rem;
        // color: #707070;
        .block-item{
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
    }

    .dropdown-list {
        padding: 0;
        margin: 0;
        background: #fff;
        box-shadow: 1px 1px 7px #3a37377d;
        width: 100%;
        position: absolute;
        z-index: 3;
        max-height: 30rem;
        overflow: auto;

        li {
            list-style: none;
            margin: auto;
            padding: .5rem 1rem;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.6rem;
            color: #707070;
            .block-item{
                display: inline-block;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
        }
    }

    .dropdown-list-col {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0;
        }
    }
}