<div class="dropdown">
  <div class="dropdown-title" (click)="openDropdown()">
    <span> <span class="block-item" *ngIf="block" [ngStyle]="{
            'background-color': block ? block : ''
          }"
          > </span>{{ nameSelect | translate}}</span>
        <!-- <i class="fas fa-sort-down"></i> -->
    </div>
    <ul class="dropdown-list text_14 text_w6" *ngIf="isOpen&&!multi">
        <li class="item" *ngFor="let option of options,let i = index" (click)="handleSelectOption(option)">
          <span class="block-item"  *ngIf="option.block"
          [ngStyle]="{
            'background-color': option.block ? option.color : ''
          }"> </span> {{option['itemName'] | translate}}
    </li>
  </ul>
  <ul class="dropdown-list text_14 text_w6 dropdown-list-col" *ngIf="isOpen&&multi">
    <li class="item" *ngFor="let option of options,let i = index">
      <label for="ch-{{i}}"><input class="option-checked" name="{{option['item']}}"
          (click)="setMulti($event, option)" type="checkbox" [checked]="option['checked'] == true" id="ch-{{i}}">
        {{option['itemName'] | translate}}</label>
    </li>
  </ul>
  <div *ngIf="isOpen" id="modal-alias" (click)="closeDropDown()"></div>
</div>