@import "../../../../../assets/theme/variables.scss";

.portlet-body {
    padding: 3rem;
    width: 100%;
    // height: calc(100vh - 34rem);
    overflow: auto;
    border-radius: 2.4rem;
    box-shadow: 0 3px 6px #00000026;
    padding-bottom: 10rem;
}
@media(max-width: 768px){
    .portlet-body {
        padding: 3rem 1rem;
    }
}
.pagesize {
    width: 9rem;
    margin-left: auto;

    .dropdown {
        position: relative;
        border-radius: 5px;

        a {
            background-color: #707070;
            line-height: 2;
            color: white;
            font-size: 1.4rem;
            padding: 0 1rem;
            display: block;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            background-image: url(../../../../../assets/images/drop-down-grey.png);
            background-position: center right 1rem;
            background-repeat: no-repeat;
            font-family: 'SourceHanSansJP-Regular';
        }

        ul {
            position: absolute;
            list-style: none;
            margin: 0;
            background-color: white;
            z-index: 2;
            left: 0;
            right: 0;
            width: 100%;
            border-bottom: 1px solid #E4E4E4;
            border-right: 1px solid #E4E4E4;
            border-left: 1px solid #E4E4E4;
            padding: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            display: none;

            li {
                color: #707070;
                font-size: 1.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                text-align: center;
                cursor: pointer;
            }

            li:hover {
                background-color: #00000026;
            }
        }
    }
}

.table {
    border: 0;
    border-spacing: 0;
    width: 100%;
    min-width: 92rem;
    margin: 0 auto;
    overflow-x: auto;

    thead {
        tr {
            th {
                color: #707070;
                border: 0;
                font-size: 1.4rem;
                text-align: left;
                padding-bottom: 0.6rem;
                white-space: nowrap;
                padding-left: 1rem;
                font-weight: normal;
                padding-right: 1rem;
            }
        }
    }

    tbody {
        tr.arrow-right {
            // background-image: url(../../../../../assets/images/icons/icon-arrow-right.png);
            background-position: right;
            background-repeat: no-repeat;
        }

        tr {
            background: #fff;
            text-align: center;
            transition: all 0.4s ease-in-out;
            background-image: url(../../../../../assets/images/arrow-right.png);
            background-repeat: no-repeat;
            background-position: right;
            td.action {
                width: 10.1rem;
            }

            td {
                height: 5.1rem;
                border: 0;
                font-size: 1.4rem;
                color: #707070;
                text-align: left;
                border-top: 0.3rem solid #f5f5f5;
                padding-left: 1rem;
                padding-right: 1rem;
                white-space: pre;

                .img {
                    display: block;

                    img {
                        object-fit: contain;
                    }
                }


                .drop-box {
                    position: relative;

                    span {
                        display: block;
                        width: 100%;
                        line-height: 2;
                        border: 1px solid #E4E4E4;
                        border-radius: 5px;
                        text-align: center;
                        cursor: pointer;
                    }

                    #drop-content {
                        border: 1px solid #E4E4E4;
                        position: absolute;
                        z-index: 2;
                        background-color: white;
                        width: 100%;
                        padding: 1rem;

                        button {
                            width: 100%;
                            display: block;
                            background-color: transparent;
                            text-align: center;
                            margin-bottom: 1rem;

                            &:last-child {
                                margin-bottom: unset
                            }
                        }

                        .title {
                            margin: 0;
                            padding: 5px 5px 5px 10px;
                            border: 1px solid #E4E4E4;
                            font-size: 16px;
                        }

                    }
                }
            }

            &.active,
            &:hover {
                background-color: rgba($color: #2964c6, $alpha: 0.41);
            }
        }
    }
}

.btn-outline-primary {
    position: relative;
    padding: 5px 15px 5px 5px;
    background-color: #fff;

    &::after {
        content: "";
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #000;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 2.5rem;
    padding-left: 0;

    li {
        margin: 0 .7rem;

        a {
            width: 2.9rem;
            height: 2.9rem;
            cursor: pointer;
        }
    }

    li.page {
        margin: 0 .7rem;

        a {

            border-radius: 5px;
            border: 1px solid #979797;
            font-size: 1.4rem;
            color: #979797;
            display: block;
            text-align: center;
            line-height: 2;
        }

    }

    li.active {
        a {
            background-color: $blue;
            color: white;
        }
    }
}

.purple {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.pink {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.yellow {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.no-data {
    text-align: center;
    padding-top: 3rem;
    font-size: 1.4rem;
}

.bage-info {
    background-color: #2964C6;
    font-size: 1.4rem;
    color: white;
    padding: 0.2rem .5rem;
    border-radius: 1.8rem;
    border: 0;
    cursor: pointer;
}

.bage-green {
    background-color: #148F11;
    font-size: 1.4rem;
    color: white;
    padding: 0.2rem .5rem;
    border-radius: 1.8rem;
    border: 0;
    cursor: pointer;
}

