<div>
    <div class="pagesize" *ngIf="showOptionSize">
        <div class="dropdown">
           <a  id="drop-pagesize-title" (click)="showDropPageSize()"> 件 : {{pageSize}}</a>
           <ul id="drop-pagesize">
                <li (click)="changePageSize(10)">
                    10
                </li>
                <li (click)="changePageSize(20)">
                    20
                </li>
                <li (click)="changePageSize(50)">
                    50
                </li>
                <li (click)="changePageSize(100)">
                    100
                </li>
           </ul>
        </div>
    </div>
    <div class="portlet light bordered">
        <div class="portlet-body" style="overflow-x:auto;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let header of headers,let i=index">
                            <label>{{header | translate}}</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" *ngFor="let item of items,let i=index">
                        <td  
                         *ngFor="let content of item.content,let j=index"
                          class="break-line"
                          [ngStyle]="content.style"
                          (click)="clickAction(item, content)"
                          >
                            <ng-template [ngIf]="content.title">
                                {{content.title | translate}}
                            </ng-template>
                            <ng-template [ngIf]="content.img">
                                <p class="img" [ngClass]="content.class">
                                    <img src="{{content.img}}" alt="" >
                                </p>
                            </ng-template>
                        </td>
                        <td *ngIf="item.action" class="action">
                            <div *ngIf="item.action.type == 'DROPDOWN'">
                                <div class="drop-box">
                                    <span (click)="showDrop(item)" id="drop-title-{{i}}" [style.color]="item?.action.text_color"
                                        class="btn btn-outline-primary">
                                        <small *ngIf=" item.action.is_dot" style="display:inline-block;margin-right: 1rem;width:9px;height:9px;border-radius: 50%;"
                                        [ngStyle]="{'background-color': item.action.text_color}"></small>
                                        {{item.action.text_dropdown |
                                        translate}}</span>
                                    <div id="drop-content" class="dropdown-action" *ngIf="item.drop">
                                        <button style="position: relative;" ngbDropdownItem *ngFor="let child_btn of item.action.value"
                                            [ngStyle]="child_btn.style"
                                            (click)="clickAction(child_btn, item)">
                                            <small *ngIf=" item.action.is_dot" 
                                            style="display:inline-block;width:9px;height:9px;border-radius: 50%;left: 1.3rem;
                                            top: 0.5rem;position: absolute;"
                                            [ngStyle]="{'background-color': child_btn.style.color}"></small>
                                            {{child_btn.action | translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="group-button" *ngIf="item.action.type == 'BUTTON'">
                                <button *ngFor="let child_btn of item.action.value"
                                    (click)="clickAction(child_btn, item)">
                                    {{child_btn.action | translate}}
                                </button>
                            </div>
                        </td>
                        <td *ngIf="item.action2" class="action">
                            <div *ngIf="item.action2.type == 'DROPDOWN'">
                                <div class="drop-box">
                                    <span (click)="showDropActions2(item)" id="drop2-title-{{i}}" [style.color]="item?.action2.text_color"
                                        class="btn btn-outline-primary">
                                        <small *ngIf=" item.action2.is_dot" style="display:inline-block;margin-right: 1rem;width:9px;height:9px;border-radius: 50%;"
                                        [ngStyle]="{'background-color': item.action2.text_color}"></small>
                                        {{item.action2.text_dropdown |
                                        translate}}</span>
                                    <div id="drop-content" class="dropdown-action" *ngIf="item.drop2">
                                        <button style="position: relative;" ngbDropdownItem *ngFor="let child_btn of item.action2.value"
                                            [ngStyle]="child_btn.style"
                                            (click)="clickAction(child_btn, item)">
                                            <small *ngIf=" item.action2.is_dot" 
                                            style="display:inline-block;width:9px;height:9px;border-radius: 50%;left: 1.3rem;
                                            top: 0.5rem;position: absolute;"
                                            [ngStyle]="{'background-color': child_btn.style.color}"></small>
                                            {{child_btn.action | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no-data" *ngIf="items.length==0">データなし</div>
        </div>
        <ul *ngIf="pager  && pager['pages'].length > 1 && pager['pages'].length &&showPage"
         class="pagination"
         [ngClass]="class"
         >
            <li [ngClass]="{disabled:pager['currentPage'] === 1}">
                <a (click)="choosepage(1)">
                    <img src="assets/images/double-left.png" alt="">
                </a>
            </li>
            <li [ngClass]="{disabled:pager['currentPage'] === 1}">
                <a (click)="choosepage(pager.currentPage - 1)">   <img src="assets/images/left.png" alt=""> </a>
            </li>
            <li *ngFor="let page of pager['pages']" class="page" [ngClass]="{'active':pager['currentPage'] === page}">
                <a (click)="choosepage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager['currentPage'] === pager['totalPages']}">
                <a (click)="choosepage(pager['currentPage'] + 1)">  <img src="assets/images/right.png" alt=""> 
                </a>
            </li>
            <li [ngClass]="{disabled:pager['currentPage'] === pager['totalPages']}">
                <a (click)="choosepage(pager['totalPages'])"> <img src="assets/images/double-right.png" alt=""> 
                </a>
            </li>
        </ul>
    </div>
</div>