<app-banner [title]="'モデルコース'"></app-banner>
<div class="wrapper">
  <div class="btn btn-red">
    <span>このコースから</span>
    <span>オリジナルコースを作る</span>
  </div>
  <div class="roadmap">
    <div class="card">
      <div class="card-title" data-step="1">
        <p>鈴鹿サーキット</p>
      </div>
      <div class="card-image">
        <img src="assets/images/v2/img_roadmap1.png" alt="" />
      </div>
      <div class="card-body">
        <div class="card-desc">
          鈴鹿サーキットはアトラクションが楽しめる遊園地や、F1など迫力のレース観戦が楽しめるテーマパークです。
          ゆうえんち「鈴鹿サーキットパーク」には、小さなお子さまでも自分で操縦できる乗り物が多く、30種類以上のアトラクションを通して「できた！」を体験することができますよ♪　
        </div>
        <div class="card-actions">
          <div class="card-tags">
            <p class="tag">#スポーツ</p>
          </div>
          <button class="btn btn-red">
            {{ "詳細を見る" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title" data-step="2">
        <p>鈴鹿サーキット</p>
      </div>
      <div class="card-image">
        <img src="assets/images/v2/img_roadmap1.png" alt="" />
      </div>
      <div class="card-body">
        <div class="card-desc">
          鈴鹿サーキットはアトラクションが楽しめる遊園地や、F1など迫力のレース観戦が楽しめるテーマパークです。
          ゆうえんち「鈴鹿サーキットパーク」には、小さなお子さまでも自分で操縦できる乗り物が多く、30種類以上のアトラクションを通して「できた！」を体験することができますよ♪　
        </div>
        <div class="card-actions">
          <div class="card-tags">
            <p class="tag">#スポーツ</p>
          </div>
          <button class="btn btn-red">
            {{ "詳細を見る" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title" data-step="3">
        <p>鈴鹿サーキット</p>
      </div>
      <div class="card-image">
        <img src="assets/images/v2/img_roadmap1.png" alt="" />
      </div>
      <div class="card-body">
        <div class="card-desc">
          鈴鹿サーキットはアトラクションが楽しめる遊園地や、F1など迫力のレース観戦が楽しめるテーマパークです。
          ゆうえんち「鈴鹿サーキットパーク」には、小さなお子さまでも自分で操縦できる乗り物が多く、30種類以上のアトラクションを通して「できた！」を体験することができますよ♪　
        </div>
        <div class="card-actions">
          <div class="card-tags">
            <p class="tag">#スポーツ</p>
          </div>
          <button class="btn btn-red">
            {{ "詳細を見る" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title" data-step="4">
        <p>鈴鹿サーキット</p>
      </div>
      <div class="card-image">
        <img src="assets/images/v2/img_roadmap1.png" alt="" />
      </div>
      <div class="card-body">
        <div class="card-desc">
          鈴鹿サーキットはアトラクションが楽しめる遊園地や、F1など迫力のレース観戦が楽しめるテーマパークです。
          ゆうえんち「鈴鹿サーキットパーク」には、小さなお子さまでも自分で操縦できる乗り物が多く、30種類以上のアトラクションを通して「できた！」を体験することができますよ♪　
        </div>
        <div class="card-actions">
          <div class="card-tags">
            <p class="tag">#スポーツ</p>
          </div>
          <button class="btn btn-red">
            {{ "詳細を見る" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn-white">
    <img src="assets/images/icons/ic_location.svg" alt="">
    {{"マップで見る" | translate}}
  </button>

  <button class="btn btn-red btn-bottom">
    {{"同条件で再建策" | translate}}
  </button>

  <button class="btn btn-red btn-gray btn-bottom">
    {{"検索画面に戻る" | translate}}
  </button>
</div>
