<div id="data">
    <div id="inner-data">
        <h3>体験</h3>
        <div id="content">
            <a *ngFor="let child of listData" href="{{ '/detail/' + child.id }}" class="element-data" >
                <img [src]="child.background | safe:'url'" class="element-image" alt="">
                <div class="content-element">
                    <div>
                        <label *ngFor="let tag of child.tag">
                            #{{child.title}}
                        </label>
                    </div>
                    <span>{{child.title}}</span>
                </div>
            </a>
        </div>
        <div class="page" *ngIf="panigation.totalPage > panigation.pageSize">
            <app-panigation (outputPage)="handlePage($event)"
                [pageSize]="panigation.pageSize"
                [class]="'circle'"
                [totalPage]="panigation.totalPage" 
                [currentPage]="panigation.currentPage"></app-panigation>
        </div>
    </div>
</div>

<div id="sub-banner">
    <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let item of listBanner" carouselSlide>
            <div class="element" (click)="navigateBanner(item)" [ngStyle]="{'background-image': item.background}">
                <!-- <span>text</span> -->
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

<a id="building"></a>
<div class="building">
    <div class="building_top">
        <img src="{{ '' }}">
        <h3>{{ 'text' }}</h3>
        <a [routerLink]="['/']">すべて見る</a>
    </div>
    <div class="content">
        <owl-carousel-o [options]="customOptions2">
            <ng-template *ngFor="let child of listData" carouselSlide 
                [id]="child.id" [width]="customWidth">
                <a class="element" href="{{ '/detail/' + child.id }}">
                    <img [src]="child.background | safe:'url'" class="element-image" alt="">
                    <div class="content-element">
                        <div>
                            <label *ngFor="let tag of child.tag">
                                #{{child.title}}
                            </label>
                        </div>
                        <span>{{child.title}}</span>
                    </div>
                </a>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>