<div id="header-page">
    <div id="left">
        <div>
            <img src="{{data.img}}" alt="">
            {{data.title}}
        </div>
    </div>
    <div id="right">
        <div id="search" *ngIf="data.is_seacrh">
            <img src="assets/images/search.png"> <input type="text"
             [value]="data?.text_search||''" #search 
             (keyup)="onSearch($event, search.value)" 
             placeholder="{{data.holder_search}}">
        </div>
        <div id="new" *ngIf="data.is_new">
            <button  (click)="addNew()" class="btn-blue">{{data.text_new}}</button>
        </div>
    </div>
</div>