<div class="inner-calendar">
    <div class="captions">{{year}}年{{month + 1}}月の定休日</div>
    <div class="calendar" id="calendar1">
        <div id="{{id}}0" class="day-column off">
            <p class="th">日</p>
        </div>
        <div id="{{id}}1" class="day-column">
            <p class="th">月</p>
        </div>
        <div id="{{id}}2" class="day-column">
            <p class="th">火</p>
        </div>
        <div id="{{id}}3" class="day-column">
            <p class="th">水</p>
        </div>
        <div id="{{id}}4" class="day-column">
            <p class="th">木</p>
        </div>
        <div id="{{id}}5" class="day-column">
            <p class="th">金</p>
        </div>
        <div id="{{id}}6" class="day-column off">
            <p class="th">土</p>
        </div>
    </div>
</div>