<div class="inner-calendar">

    <div class="inner-calendar-timeline">
        <div class="pre-month" (click)="clickPrev()">
            <div class="captions-child">
                {{monthNames[time.month_prev]}}
            </div>
            <div id="calendar-child-prev" class="calendar calendar-child">

            </div>
        </div>
        <div class="captions">{{monthNames[time.month_curent]}}/{{time.year}}</div>
        <div class="next-month" (click)="clickNext()">
            <div class="captions-child">
                {{monthNames[time.month_next]}}
            </div>
            <div id="calendar-child-next" class="calendar calendar-child">
            </div>
        </div>
    </div>
    <div class="content-calendar">
        <div class="calendar" id="calendar-main">
        </div>
    </div>
</div>