#list {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;

    #head {
        margin-bottom: 3rem;
    }

    .back {

        display: block;
        font-size: 1.5rem;
        color: #707070;
        margin: 1rem auto;
        text-decoration: unset;
        // background-image: url(../../../../../assets/image/ic-arrow-left.png);
        background-repeat: no-repeat;
        background-position: center left 1rem;
        margin-bottom: 3rem;

        svg {
            margin-right: 1rem;
        }

    }

    #create-content {
        box-shadow: 0px 3px 6px #00000026;
        border-radius: 2rem;
        padding: 4.5rem 1rem;

        #right {
            max-width: 57.5rem;
            margin-left: auto;
            margin-right: auto;

            .form-button {
                margin-top: 3rem;
                display: flex;
                justify-content: center;

                button {
                    width: 10.1rem;
                    display: block;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    height: 3.5rem;
                    font-size: 1.2rem;
                    border-radius: .5rem;
                }
            }

            .form-group-box {
                margin-bottom: 2rem;

                p.errors {
                    font-size: 1rem;
                    display: block;
                    color: red;
                    margin: 0;
                }


                .form-group {
                    display: flex;

                    label {
                        display: block;
                        font-size: 1.4rem;
                        margin-bottom: 0;
                        color: #707070;
                        width: 11rem;
                    }

                    #loadimage {
                        img {
                            width: 100%;
                            max-width: 25.5rem;
                            height: 17.3rem;
                        }

                        input {
                            display: none;
                        }
                    }

                    div {
                        margin-left: 4rem;
                        width: calc(100% - 11rem);
                        position: relative;

                        .box-input {
                            position: relative;
                            margin-left: 0;

                            span {
                                position: absolute;
                                right: 0rem;
                                padding-right: 2rem;
                                top: 5px;
                                bottom: 0;
                                font-size: 1.4rem;
                                color: #707070;
                            }
                        }
                    }

                    input[type='text'],
                    input[type='password'] {
                        padding-left: 1.5rem;
                        height: 3.3rem;
                        font-size: 1.6rem;
                        background-color: white;
                        border: 1px solid #E4E4E4;
                        width: 100%;
                        border-radius: 5px;
                    }

                    textarea {
                        padding-left: 1.5rem;
                        height: 12rem;
                        font-size: 1.6rem;
                        background-color: white;
                        border: 1px solid #E4E4E4;
                        width: 100%;
                        border-radius: 5px;
                        font-family: 'SourceHanSansJP-Regular';
                    }

                    select {
                        padding-left: 0.5rem;
                        height: 3.3rem;
                        font-size: 1.6rem;
                        background-color: white;
                        border: 1px solid #E4E4E4;
                        width: 100%;
                        max-width: 11.3rem;
                        border-radius: 5px;
                        font-family: 'SourceHanSansJP-Regular';
                    }

                    input::placeholder {
                        color: #E4E4E4;
                    }

                    textarea ::placeholder {
                        color: #E4E4E4;
                    }


                }
            }

            .border-top {
                border-top: 2px dashed #9C9C9C;
                padding-top: 2rem;
            }

            .add-field {
                padding: 1rem;

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: pointer;
                }
            }
        }
    }

}

@media(max-width: 768px) {
    #list {
        padding-left: 0rem;
        padding-right: 0rem;

        #create-content {
            flex-direction: column;
            padding: 3rem 1.5rem;

            #left {
                width: 100%;

                #image-main {
                    img {
                        cursor: pointer;
                    }
                }

                #image-seconds {
                    .item-image {

                        img {}
                    }
                }
            }

            #right {
                width: 100%;
                padding-left: 0rem;

                #right-content {
                    max-width: unset;
                    margin-left: auto;
                    margin-right: auto;

                    .form-group-box {
                        .form-button {
                            button {}
                        }

                        label {
                            font-size: 1.4rem;
                        }

                        .group-flex-select {
                            input {}
                        }

                        .group-flex {
                            input {}

                            button {}
                        }

                        .form-flex {

                            div {}
                        }

                        .form-group-radio {
                            label {

                                input[type='radio'] {}

                                input[type='text'] {}
                            }

                            .mb0 {}

                            a {}
                        }

                        .form-group {

                            p.errors {}

                            p.errors2 {}

                            input[type='text'],
                            input[type='password'] {}

                            textarea {}

                            select {}

                            input::placeholder {}

                            textarea {}
                        }
                    }
                }
            }
        }
    }
}