<div id="list">
    <div id="head">
        <app-header-page [data]="pageInfo"></app-header-page>
    </div>
    <a class="back" (click)="back()">
        担当設定　＞　新規登録</a>
    <div class="tab-delete">
        <span class="delete2" (click)="handleDelete()" *ngIf="id">
            <img src="assets/images/icon-delete.png" alt="">削除
        </span>
    </div>
    <div id="create-content">

        <div id="right" [formGroup]="formNotice">
            <div class="form-group-box">
                <div class="form-group">
                    <label>ステータス</label>
                    <div>
                        <app-select-dropdown (selectedOption)="handleSetStatus($event)"
                            [nameSelect]="status.name_select" [options]="status.list"></app-select-dropdown>
                        <p class="errors" class="errors" *ngIf="formErrors.status">
                            {{
                            formErrors.status
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>タイトル</label>
                    <div>
                        <input formControlName="title" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.title">
                            {{
                            formErrors.title
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>アイキャッチ</label>
                    <div id="loadimage">
                        <img (click)="handleUpdateImage()" src="{{formNotice.value.image}}" onerror="this.src='assets/images/noimage.png'" alt="">
                        <input id="input-file-main" type="file" (change)="onChangeImageMain($event)"
                            accept="image/png,image/gif,image/jpeg,image/jpg">
                        <p class="errors" class="errors" *ngIf="formErrors.image">
                            {{
                            formErrors.image
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>本文</label>
                    <div>
                        <textarea formControlName="content" name="" id="" cols="30" rows="10">

                        </textarea>
                        <p class="errors" class="errors" *ngIf="formErrors.content">
                            {{
                            formErrors.content
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>SEOタイトル</label>
                    <div>
                        <input formControlName="meta_title" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.meta_title">
                            {{
                            formErrors.meta_title
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>ディスク<br>
                        リプション</label>
                    <div>
                        <input formControlName="meta_description" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.meta_description">
                            {{
                            formErrors.meta_description
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label></label>
                    <div>
                        <input formControlName="type" type="checkbox">NEW
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button (click)="handleReset()" class="btn-default">キャンセル</button>
                <button (click)="handleCreate()" class="btn-blue">登 録</button>
            </div>
        </div>
    </div>
</div>