@import "../../../../assets/theme/variables.scss";


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 2.5rem;
    padding-left: 0;

    li {
        margin: 0 .7rem;

        a {
            width: 2.9rem;
            height: 2.9rem;
            cursor: pointer;
        }
    }

    li.page {
        margin: 0 .7rem;

        a {

            border-radius: 5px;
            border: 1px solid #979797;
            font-size: 1.4rem;
            color: #979797;
            display: block;
            text-align: center;
            line-height: 2;
        }

    }

    li.active {
        a {
            background-color: $blue;
            color: white;
        }
    }
}

.purple {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.pink {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.yellow {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}