@import "../../../../assets/theme/variables.scss";


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 2.5rem;
    padding-left: 0;

    li {
        a {
            width: 2.9rem;
            height: 2.9rem;
            cursor: pointer;
        }
    }

    li.page {
        margin: 0 .35rem;

        a {

            border-radius: 5px;
            border: 1px solid #979797;
            font-size: 1.4rem;
            color: #979797;
            display: block;
            text-align: center;
            line-height: 2;
        }

    }

    li.active {
        a {
            background-color: $blue;
            color: white;
        }
    }
}

.purple {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.circle{
    li.page{
        a{
            width: 3.8rem;
            height: 4rem;
            border-radius: 50%;
            font-size: 1.9rem;
            border: 1px solid white;
            color: white;
            font-family: 'SourceHanSerif-Medium';
        }
    }
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 1px solid transparent;
        }
    }
}

.pink {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

.yellow {
    li.active {
        a {
            background-color: $blue;
            color: white;
            border: 0;
        }
    }
}

@media(max-width: 768px){
    
.circle{
    li.page{
        margin: 0 .2rem;
        a{
            width: 2.9rem;
            height: 3rem;
            font-size: 1.5rem;
        }
    }
    li.active {
        a {
        }
    }
}

}