@font-face {
  font-family: "SourceHanSerif";
  src: url(./font/SourceHanSerif-Bold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSerif";
  src: url(./font/SourceHanSerif-Medium.otf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSerif";
  src: url(./font/SourceHanSerif-Regular.otf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
  min-width: 320px;
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  font-family: "SourceHanSerif", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* COMMON  */
.btn-blue {
  background-color: #004499;
  color: white;
  border: 0;
}

.btn-default {
  color: #979797;
  background-color: white;
  border: 1px solid #e4e4e4;
}

/* HEADER  */
header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #101010a1;
  transition: 0.4s all ease-in-out;
}
header.bg-white {
  background-color: #10161b;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
}
header #header-content {
  display: flex;
  align-items: center;
}
header #left #logo {
  display: block;
}
header #right {
  margin-left: auto;
}
header #right ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  align-items: center;
  column-gap: 3.2rem;
}
header #right ul li .icon {
  font-size: 1.6rem;
  color: white;
  text-decoration: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
  border: 0.1rem solid white;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
header #right ul li .icon img {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
}
header #right ul li.search-box {
  position: relative;
  height: 4.4rem;
  border-radius: 4rem;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 0;
  transition: all 0.4s;
}
header #right ul li.search-box .search-text {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 4.4rem;
  transition: all 0.4s;
  width: 0;
  color: white;
}
header #right ul li.search-box.active {
  background-color: #10161b;
  border: 0.1rem solid white;
  box-shadow: 0.2rem 0.2rem 2rem 0 #fff;
}
header #right ul li.search-box.active .search-text {
  width: 24rem;
  padding: 0 1rem;
}
header #right ul li.search-box.active .search-btn {
  border-color: transparent;
}
header #right ul li.search-box.active .search-btn img {
  width: 2rem;
  height: 2rem;
}
header #right ul li:last-child {
  padding-left: 2.7rem;
}
.toggle {
  width: 3rem;
  position: relative;
  margin-left: auto;
  /* on activation */
}
.toggle .toggle-button {
  display: block;
  width: 29px;
  height: 30px;
  padding: 4px 0;
  cursor: pointer;
  z-index: 99;
}
.toggle .toggle-button span {
  position: relative;
  display: block;
}
.toggle .toggle-button span:after,
.toggle .toggle-button span:before {
  content: "";
  position: absolute;
  left: 0;
}
.toggle .toggle-button span:after {
  top: 9px;
}
.toggle .toggle-button span:before {
  top: 18px;
}
.toggle .toggle-button span,
.toggle .toggle-button span:after,
.toggle .toggle-button span:before {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle .toggle-button.on span {
  background-color: transparent;
}
.toggle .toggle-button.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  top: 0;
}
.toggle .toggle-button.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  top: 18px;
}
.side-nav {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: calc(100% - 2.4rem);
  max-width: 37.5rem;
  padding: 7.7rem 3rem 0 3.4rem;
  background-color: #10161b;
  box-shadow: 0 -0.3rem 0.1rem #fff;
  z-index: 10;
  transition: 0.6s all;
}
.side-nav.open {
  right: 0;
}
.side-nav .close-side-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 3.2rem;
  cursor: pointer;
}
.side-nav .close-side-nav img {
  object-fit: contain;
}
.side-nav__title {
  font-size: 3.6rem;
  line-height: 120%;
  font-family: "Inter-Bold";
  color: #fff;
  text-align: center;
}
.side-nav__desc {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 190%;
  font-weight: bold;
  position: relative;
  top: -0.5rem;
  margin-bottom: 3rem;
}
.side-nav__list .item {
  padding: 0;
}
.side-nav__list .item a {
  padding: 1.6rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 3.7rem;
  display: block;
  height: 100%;
  text-align: center;
  position: relative;
  border-bottom: 0.1rem solid rgba(229, 229, 229, 0.5);
  background: url(../image/icons/ic_chevron-right.svg) right center no-repeat;
}
.side-nav__list .item a::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #10161b;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 6.9rem;
  display: block;
  background: url(../image/icons/ic_chevron-right-b.svg) right center no-repeat,
    #fff;
  box-shadow: 0 0.2rem 2rem 0 rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0s;
}
.side-nav__list .item a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.3s;
}
.side-nav__list .item:first-child a {
  border-top: 0.1rem solid rgba(229, 229, 229, 0.5);
}
@media (max-width: 768px) {
  #toogle {
    display: block;
  }
  header {
    padding: 1.1rem 1.5rem 1rem 0.6rem;
  }
  header #header-content {
    width: 100%;
  }
  header #right ul {
    column-gap: 2.2rem;
  }
  header #right ul li .icon {
    width: 3.3rem;
    height: 3.3rem;
  }
  header #right ul li .icon img {
    width: 2rem;
    height: 2rem;
  }
  header #right ul li.search-box {
    height: 3.3rem;
  }
  header #right ul li.search-box .search-text {
    line-height: 3.3rem;
  }
  header #right ul li.search-box.active .search-text {
    width: 10rem;
  }
  header #right ul li.search-box.active .search-text::placeholder {
    font-size: 1.2rem;
  }
  header #right ul li.search-box.active .search-btn img {
    width: 1.4rem;
    height: 1.4rem;
  }
  header #right ul li:last-child {
    padding-left: 0;
  }
  header #left #logo img {
    max-width: 11rem;
  }
}

/* BANNER  */
#banner {
  width: 100%;
  min-height: 77.05rem;
  background-image: url("../image/banner2@2x.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1280px) {
  #banner {
    min-height: 64.7rem;
    background-image: url("../image/banner2.png");
    background-position: center;
  }
}

@media (max-width: 768px) {
  #banner {
    min-height: 52.7rem;
  }
}

/* BUIDING  */
.building {
  background-color: #10161b;
  padding: 4rem 4rem;
}

.building h3 {
  font-size: 3.5rem;
  color: white;
  margin-top: 0;
  margin-bottom: 2rem;
}

.building h3 span {
  border-radius: 2.4rem;
  color: #fff;
  background-color: #c82c2c;
  line-height: 2;
  font-size: 2.4rem;
  display: inline-block;
  margin-left: 10rem;
  padding: 0 3rem;
}

/* FIELD TOP  */
.field-top {
  background-color: #10161b;
  padding: 0 1rem;
}

.field-top .inner-field {
  max-width: 101.3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.3rem;
}

.field-top .collection-video {
  padding-top: 5.5rem;
  padding-bottom: 8.1rem;
}

.field-top .collection-video video {
  width: 100%;
  height: 37rem;
  max-width: 53.2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.field-top h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.field-top h3 span {
  font-size: 4.2rem;
  line-height: 6rem;
  color: white;
}

.field-top h3 small {
  display: block;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: white;
}

.field-top .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.field-top .social .left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.field-top .social .left span {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 1rem;
  color: white;
  border-radius: 2rem;
  background-color: #667cf2;
  margin-right: 1rem;
}

.field-top .social .right ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 2.8rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.field-top .social .right ul li img {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.field-top .social .right ul li img:hover {
  transform: translateY(-0.8rem);
}

@media (max-width: 768px) {
  .field-top {
    padding: 0 1.6rem;
  }

  .field-top .inner-field {
    padding-top: 4.97rem;
    position: relative;
  }

  .field-top .collection-video {
    padding-top: 1.4rem;
    padding-bottom: 3.3rem;
  }

  .field-top .collection-video video {
    height: 25rem;
  }
  
  .field-top h3 span {
    font-size: 3.4rem;
    line-height: 3.6rem;
  }

  .field-top .social .right {
    position: absolute;
    top: 2.18rem;
    right: 0;
  }

  .field-top .social .right ul {
    column-gap: 1.6rem;
  }

  .field-top .social .right ul li img {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
  }
}

/* FIELD  */

.field {
  background-color: #10161b;
  padding: 0 1rem;
}

.field .inner-field {
  max-width: 102.3rem;
  margin-left: auto;
  margin-right: auto;
}

.field h3 {
  margin-top: 0;
  margin-bottom: 3rem;
}

.field h3 span {
  font-size: 3.2rem;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  padding-right: 8rem;
}

.field .collection-image {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
  padding-bottom: 10rem;
}

.field .collection-image div {
  height: 20rem;
  display: block;
  width: calc(100% / 3);
  padding: 7px;
}

.field .collection-image img {
  width: 100%;
  object-fit: cover;
}

.field p {
  font-size: 1.6rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 8rem;
}

.field table {
  width: 100%;
  border-collapse: collapse;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: -1rem;
}

.field table tr {
}

.field table tr td {
  padding: 1rem 0;
  border-bottom: 1px dashed #bfbfbf;
}

.field table tr td span {
  font-size: 1.8rem;
  color: #bfbfbf;
  display: block;
  margin-bottom: 1rem;
}

.field table tr td label {
  font-size: 1.8rem;
  color: white;
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .field {
    background-color: #10161b;
    padding: 0 1rem;
  }

  .field .inner-field {
  }

  .field h3 {
  }

  .field h3 span {
    padding-right: 4rem;
    font-size: 2.8rem;
  }

  .field .collection-image {
    padding-bottom: 3rem;
  }

  .field .collection-image div {
    width: calc(100% / 2);
    height: auto;
  }

  .field .collection-image img {
  }

  .field p {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 3rem;
  }

  .field table {
    margin-right: 0;
    margin-left: 0;
  }

  .field table tr {
  }

  .field table tr td {
  }

  .field table tr td span {
  }

  .field table tr td label {
  }
}

/* FOOTER  */
footer {
  background-color: #262626;
  padding: 7.6rem 4rem 1.2rem;
}
footer #copired {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  text-decoration: unset;
  margin: 4rem 0 0;
  font-family: "SourceHanSerif-Medium";
}
footer #inner-footer {
  display: flex;
  justify-content: space-between;
}
footer #inner-footer .left {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4.2rem;
  max-width: 77.6rem;
}
footer #inner-footer .left li {
  margin-bottom: 0.8rem;
}
footer #inner-footer .left li a {
  font-size: 1.6rem;
  font-family: "SourceHanSerif-Medium";
  color: white;
  text-decoration: unset;
  cursor: pointer;
}
footer #inner-footer .left li a:hover {
  opacity: 0.7;
}
footer #inner-footer .right ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 2rem;
}
footer #inner-footer .right ul li {
  padding: 0 1rem;
}
footer #inner-footer .right ul a {
  overflow: hidden;
}
footer #inner-footer .right ul img {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
footer #inner-footer .right ul img:hover {
  transform: translateY(-0.8rem);
}
footer #inner-footer .right a#logo img:hover {
  opacity: 0.7;
}
@media (max-width: 768px) {
  footer {
    padding: 1.8rem 1.1rem;
  }
  footer #copired {
    margin-top: 6.3rem;
  }
  footer #inner-footer {
    flex-direction: column;
  }
  footer #inner-footer .left {
    column-gap: 3rem;
  }
  footer #inner-footer .left li {
    margin-bottom: 2.3rem;
  }
  footer #inner-footer .left li a {
    font-size: 1.4rem;
  }
  footer #inner-footer .right ul {
    justify-content: center;
    margin-top: 3.1rem;
    margin-bottom: 3rem;
  }
  footer #inner-footer .right ul img {
    width: 3.6rem;
    height: 3.6rem;
    object-fit: cover;
  }
  footer #inner-footer .right a#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
