html {
    font-size: 62.5%;
    min-width: 320px;
    scroll-behavior: smooth;
}

html body {
    margin: 0;
    font-family: 'SourceHanSansJP-Regular', 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'SourceHanSansJP-Bold';
    src: url(./font/SourceHanSansJP-Bold.otf);
}

@font-face {
    font-family: 'Notosan';
    src: url(./font/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Light';
    src: url(./font/SourceHanSansJP-Light.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Regular';
    src: url(./font/SourceHanSansJP-Regular.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Medium';
    src: url(./font/SourceHanSansJP-Medium.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Normal';
    src: url(./font/SourceHanSansJP-Normal.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Heavy';
    src: url(./font/SourceHanSansJP-Heavy.otf);
}

@font-face {
    font-family: 'SFCompactDisplay-Bold';
    src: url(./font/SFCompactDisplay-Bold.ttf);
}

@font-face {
    font-family: 'Rounded Mgen+ 1m Medium';
    src: url(./font/rounded-mgenplus-1m-medium.ttf);
}

html {
    font-size: 62.5%;
    min-width: 320px;
    scroll-behavior: smooth;
}

html body {
    margin: 0;
    font-family: 'SourceHanSansJP-Regular', 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

* {
    box-sizing: border-box;
}

/* COMMON  */
.btn-blue {
    background-color: #004499;
    color: white;
    border: 0;
}

.btn-default {
    color: #979797;
    background-color: white;
    border: 1px solid #E4E4E4;
}

/* HEADER  */
header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2.5rem;
}

header #header-content {
    display: flex;
    align-items: center;
}

header #right {
    margin-left: auto;
}

header #right ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    align-items: center;
}

header #right ul .mr-auto {
    margin-left: auto;
}

header #right ul li.mr-0 {
    margin-right: 0;
}

header #right ul li.ml-6 {
    margin-left: 6rem;
}

header #right ul li {
    margin-right: 2.5rem;
}

header #right ul li a {
    font-size: 1.6rem;
    color: white;
    text-decoration: unset;
}

header #right ul li .btn-pink {
    border-radius: 2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}

#toogle {
    width: 3rem;
    position: relative;
    margin-left: auto;
    /* on activation */
}

#toogle .toggle-button {
    display: block;
    width: 29px;
    height: 30px;
    padding: 4px 0;
    cursor: pointer;
    z-index: 99;
}

#toogle .toggle-button span {
    position: relative;
    display: block;
}

#toogle .toggle-button span:after,
#toogle .toggle-button span:before {
    content: "";
    position: absolute;
    left: 0;
}

#toogle .toggle-button span:after {
    top: 9px;
}

#toogle .toggle-button span:before {
    top: 18px;
}

#toogle .toggle-button span,
#toogle .toggle-button span:after,
#toogle .toggle-button span:before {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

#toogle .toggle-button.on span {
    background-color: transparent;
}

#toogle .toggle-button.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
    top: 0;
}

#toogle .toggle-button.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
    top: 18px;
}

@media (max-width: 768px) {
    #toogle {
        display: block;
    }

    header {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header #header-content {
        width: 100%;
    }

    header #right {
        margin-left: auto;
    }

    header #right ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin: 0;
        align-items: center;
    }

    header #right ul .mr-auto {
        margin-left: auto;
    }

    header #right ul li.mr-0 {
        margin-right: 0;
    }

    header #right ul li.ml-6 {
        margin-left: 1rem;
    }

    header #right ul li {
        margin-right: 1rem;
    }

    header #right ul li a {
        font-size: 1.6rem;
        color: white;
        text-decoration: unset;
    }

    header #right ul li .btn-pink {
        border-radius: 2rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        padding-right: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
    }

    header #left #logo img {
        max-width: 16rem;
    }
}

/* BANNER  */
#banner #inner-banner img {
    width: 100%;
}

/* BUIDING  */
.building {
    background-color: #10161b;
    padding: 4rem 4rem;
}

.building h3 {
    font-size: 3.5rem;
    color: white;
    font-family: 'Noto Serif JP';
    margin-top: 0;
    margin-bottom: 2rem;
}

.building h3 span {
    border-radius: 2.4rem;
    color: #fff;
    background-color: #c82c2c;
    line-height: 2;
    font-size: 2.4rem;
    display: inline-block;
    margin-left: 10rem;
    padding: 0 3rem;
}

/* FIELD TOP  */


.field-top {
    background-color: #10161B;
    padding: 0 1rem;
}

.field-top .inner-field {
    max-width: 102.3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
}

.field-top .collection-video {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.field-top .collection-video video {
    width: 100%;
    height: 37rem;
    max-width: 53.2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.field-top h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Noto Serif JP';
}

.field-top h3 span {
    font-size: 3.2rem;
    font-family: 'Noto Serif JP';
    color: white;
    padding-bottom: 1rem;
    padding-right: 8rem;
}

.field-top h3 small {
    display: block;
    font-size: 1.6rem;
    color: white;
}

.field-top .social {
    display: flex;
    justify-content: space-between;
}

.field-top .social .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.field-top .social .left span {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 1rem;
    color: white;
    border-radius: 2rem;
    background-color: #667CF2;
    margin-right: 1rem;
}

.field-top .social .right {}

.field-top .social .right ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    list-style: none;
}

.field-top .social .right ul li {
    padding: 0 1rem;
}

@media (max-width: 768px) {

    .field-top {}

    .field-top .inner-field {}

    .field-top .collection-video {}

    .field-top .collection-video video {}

    .field-top h3 {}

    .field-top h3 span {
        font-size: 2.8rem;
    }

    .field-top h3 small {}

    .field-top .social {}

    .field-top .social .left {}

    .field-top .social .left span {}

    .field-top .social .right {}

    .field-top .social .right ul {}

    .field-top .social .right ul li {}
}

/* FIELD  */


.field {
    background-color: #10161B;
    padding: 0 1rem;
}

.field .inner-field {
    max-width: 102.3rem;
    margin-left: auto;
    margin-right: auto;
}

.field h3 {
    margin-top: 0;
    margin-bottom: 3rem;
}

.field h3 span {
    font-size: 3.2rem;
    font-family: 'Noto Serif JP';
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    padding-right: 8rem;
}

.field .collection-image {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
    padding-bottom: 10rem;

}

.field .collection-image div {
    height: 20rem;
    display: block;
    width: calc(100% / 3);
    padding: 7px;
}

.field .collection-image img {
    width: 100%;
    object-fit: cover;
}

.field p {
    font-size: 1.6rem;
    color: white;
    font-family: 'Notosan';
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 8rem;
}

.field table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: -1rem;
}

.field table tr {}

.field table tr td {
    padding: 1rem 0;
    border-bottom: 1px dashed #BFBFBF;
}

.field table tr td span {
    font-size: 1.8rem;
    color: #BFBFBF;
    font-family: 'Notosan';
    display: block;
    margin-bottom: 1rem;
}

.field table tr td label {
    font-size: 1.8rem;
    color: white;
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Notosan';
}

@media (max-width: 768px) {

    .field {
        background-color: #10161B;
        padding: 0 1rem;
    }

    .field .inner-field {}

    .field h3 {}

    .field h3 span {
        padding-right: 4rem;
        font-size: 2.8rem;
    }

    .field .collection-image {
        padding-bottom: 3rem;
    }

    .field .collection-image div {
        width: calc(100% / 2);
        height: auto;
    }

    .field .collection-image img {}

    .field p {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 3rem;
    }

    .field table {
        margin-right: 0;
        margin-left: 0;
    }

    .field table tr {}

    .field table tr td {}

    .field table tr td span {}

    .field table tr td label {}
}

/* FOOTER  */
footer {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #10161b;
}

footer #copired {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Notosan';
    color: white;
    text-decoration: unset;
    margin: 5rem 0;
}

footer #inner-footer {
    display: flex;
    justify-content: space-between;
}

footer #inner-footer .left {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 762px;
}

footer #inner-footer .left li {
    padding-right: 3rem;
    margin-bottom: 1rem;
}

footer #inner-footer .left li a {
    font-size: 1.6rem;
    font-size: 'Notosan';
    color: white;
    text-decoration: unset;
}

footer #inner-footer .right ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}

footer #inner-footer .right ul li {
    padding: 0 1rem;
}

@media (max-width: 768px) {
    footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer #inner-footer {
        flex-direction: column;
    }

    footer #inner-footer .left li {
        margin-bottom: 3rem;
    }

    footer #inner-footer .right ul {
        justify-content: center;
    }

    footer #inner-footer .right a#logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}