.header {
    height: 6.5rem;
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #ebebeb;
    box-shadow: 0 3px 6px #00000026;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;

    a#head {
        color: #707070;
        font-size: 2.8rem;
        text-decoration: unset;
        cursor: pointer;
    }

    .content-header {
        align-items: center;
        display: flex;

        .nav-item {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 5rem;

            img {
                margin-right: 1rem;
            }

            font-size: 1.4rem;
            font-family: 'SourceHanSansJP-Regular';
        }

        span {
            margin: 0 .5rem;
            cursor: pointer;
        }
    }

    .toogle-nav {
        display: none;
    }
}

#toogle {
    width: 2.8rem;
    position: relative;
    margin-left: auto;
    // margin-top: 2rem;
    display: none;

    .toggle-button {
        display: block;
        width: 29px;
        height: 30px;
        padding: 4px 0;
        cursor: pointer;
        z-index: 99;

        span {
            position: relative;
            display: block;
        }

        span:after,
        span:before {
            content: "";
            position: absolute;
            left: 0;
        }

        span:after {
            top: 9px;
        }

        span:before {
            top: 18px;
        }

        span,
        span:after,
        span:before {
            width: 100%;
            height: 3px;
            background-color: #493f3f;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }
    }

    /* on activation */
    .toggle-button.on {
        span {
            background-color: transparent;
        }

        span:before {
            transform: rotate(45deg) translate(5px, 5px);
            top: 0;
        }

        span:after {
            transform: rotate(-45deg) translate(7px, -8px);
            top: 18px;
        }
    }

}

.layout {
    display: flex;

    .content_layout {
        width: 100%;
        margin-top: 6.5rem;
        padding: 0 1rem;
        // padding-left: 7.5rem;
    }

    .expand-menu {
        margin-left: 20.7rem;
        width: calc(100% - 20.7rem);
    }

    .side_layout {
        .menu {
            width: 20.7rem;
            padding-top: 13.5rem;
            box-shadow: 0.4rem 0rem 0.5rem #c1c1c1;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: 99;
            background-color: white;
            overflow: auto;

            ul {
                list-style: none;
                padding-left: 0;
                margin: 0;

                li.nav-item {
                    margin-bottom: 1.5rem;
                    cursor: pointer;

                    a.router-link-active {
                        background-color: #004499 !important;
                        color: white !important;

                        svg {
                            fill: white !important;
                        }
                    }

                    a.nav-item-link {
                        font-size: 1.6rem;
                        font-family: 'HiraginoKakuGothicProN-W3';
                        color: #707070;
                        text-transform: capitalize;
                        text-decoration: unset;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: .7rem 0rem 0.7rem 3.5rem;

                        div {
                            svg {
                                margin-right: 2rem;
                            }
                        }
                    }

                    a.nav-item-link:hover {
                        background-color: #004499 !important;
                        color: white;

                        .hovesvg {
                            fill: white !important;
                        }

                        div {
                            svg {
                                fill: white !important;
                            }
                        }
                    }

                    .nav-child {
                        max-height: 0;
                        overflow: hidden;
                        transition: all .3s;

                        li {
                            a {

                                padding: 0.7rem 0 0.7rem 7.5rem;
                                font-size: 1.6rem;
                                color: #707070;
                                text-transform: capitalize;
                                font-family: 'HiraginoKakuGothicProN-W3';
                                text-decoration: unset;
                                display: block;
                                width: 100%;
                            }

                            a.nav-item-link-child.router-link-active {
                                background-color: #f9f9f938;
                            }
                        }
                    }
                }
            }
        }
    }
}

.side_layout .menu {
    &::-webkit-scrollbar {
        width: 0px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #707070;
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        // background-color: blue;    /* color of the scroll thumb */
        // border-radius: 20px;       /* roundness of the scroll thumb */
        // border: 3px solid orange;  /* creates padding around scroll thumb */
    }
}

@media (max-width : 1024px) {
    .header {
        .toogle-nav {
            display: inline;
        }
    }

    // .layout {
    //     .content_layout {
    //         width: 100%;
    //         padding-top: 5rem;
    //         margin-left: 0 !important;
    //     }

    //     .margin-content {
    //         margin-left: 18rem;
    //     }

    //     .none-margin-content {
    //         margin-left: 6rem;
    //     }
    // }
}

@media (max-width: 992px) {
    #toogle {
        display: block;
    }

    .side_layout {
        display: none;

        &.toggle-nav {
            display: block;
        }
    }

    .layout {
        .content_layout {
            width: 100%;
            margin-left: 0;
        }

        .margin-content {
            margin-left: 0rem;
        }

        .none-margin-content {
            margin-left: 0rem;
        }
    }
}

@media (max-width : 768px) {
    .header {
        padding: 0 1rem;
        .content-header {
            .nav-item {
                margin-right: 1rem;
                img {
                }
            }
    
            span {
                margin: 0 .5rem;
                cursor: pointer;
            }
        }
    }
}


.primary-layout {
    display: flex;

    #left {
        width: 20.7rem;
    }

    #right {
        width: calc(100% - 20.7rem);
        max-width: 84.9rem;
    }
}