<div id="data">
    <div id="inner-data">
        <div id="content">
            <div class="element-data">
                <!-- <div class="left">
                    <img src="{{data.image}}" alt="">
                </div> -->
                <div class="right">
                    <p><span>{{data.time}}</span>
                        {{data.title}}
                        <br>
                    </p>
                </div>
                <ul>
                    <li>
                      <a href="">
                        <img src="assets/images/instagram.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="assets/images/tw.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="assets/images/fb.png" alt="">
                      </a>
                    </li>
                  </ul>
            </div>
           
        </div>
        <div id="content-new" [innerHTML]="data.title">
        </div>
    </div>
</div>