<div id="data">
    <div id="inner-data">
        <h3>お知らせ</h3>
        <div id="content">
            <div (click)="handleAction(child)" *ngFor="let child of listData" class="element-data">
                <div class="left">
                    <img src="{{child.image}}" alt="">
                </div>
                <div class="right">
                    <p><span>{{child.time}}</span>
                        {{child.title}}
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="page">
            <app-panigation (outputPage)="handlePage($event)" [pageSize]="panigation.pageSize" [class]="'circle'"
                [totalPage]="panigation.totalPage" [currentPage]="panigation.currentPage"></app-panigation>
        </div>
    </div>
</div>