#data {
    background-color: #10161B;
    padding-top: 16rem;
    padding-left: 1rem;
    padding-right: 1rem;

    #inner-data {
        max-width: 120rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;

        h3 {
            font-size: 3.2rem;
            color: white;
            text-align: center;
            margin-top: 0;
            margin-bottom: 10rem;
            font-family: 'SourceHanSerif-Medium';

        }

        div#content {
            min-height: 75rem;

            .element-data {
                display: flex;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-bottom: 1px dotted #919191;
                cursor: pointer;
                position: relative;
                margin-bottom: 2.5rem;
                width: 100%;
                padding: 1.8rem 0;

                .left {
                    img {
                        width: 27.6rem;
                        height: 17.6rem;
                        object-fit: cover;
                    }

                }

                .right {
                    width: calc(100% - 27.6rem);
                    padding-left: 2rem;
                    padding-top: 1.5rem;
                    p {
                        font-size: 2rem;
                        color: white;
                        font-family: 'SourceHanSerif-Bold';
                        margin: 0;

                        span {
                            display: block;
                            font-size: 1.6rem;
                            font-family: 'SourceHanSerif-Medium';
                            margin-bottom: 1rem;
                        }
                    }
                }

            }
        }

        .page {
            margin-top: 8rem;
        }
    }

}

@media(max-width: 768px) {
    #data {
        padding-top: 9rem;

        #inner-data {


            h3 {
                font-size: 2.4rem;
                margin-bottom: 4.5rem;
            }

            div#content {
                min-height: 75rem;
                display: flex;
                flex-wrap: wrap;

                .element-data {
                    height: 14.5rem;
                    margin: 5px;
                    width: calc(33.3333% - 10px);

                    .content-element {

                        span {
                            font-size: 1.3rem;
                        }

                        div {
                            label {
                                font-size: 6px;
                                padding: 0 1.7rem;
                            }
                        }
                    }

                }
            }

            .page {
                margin-top: 8rem;
            }
        }

        .page {
            margin-top: 3rem;
        }

    }
}