<div id="list">
    <div id="head">
        <app-header-page [data]="pageInfo"></app-header-page>
    </div>
    <a class="back" (click)="back()">
        施設一覧　＞　新規登録</a>
    <div class="tab-delete">
        <span class="delete2" (click)="handleDelete()" *ngIf="id">
            <img src="assets/images/icon-delete.png" alt="">削除
        </span>
    </div>
    <div id="create-content">

        <div id="right" [formGroup]="formWork">
            <div class="form-group-box">
                <div class="form-group">
                    <label>ステータス</label>
                    <div class="content-field">
                        <app-select-dropdown (selectedOption)="handleSetStatus($event)"
                            [nameSelect]="status.name_select" [options]="status.list"></app-select-dropdown>
                        <p class="errors" class="errors" *ngIf="formErrors.status">
                            {{
                            formErrors.status
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>タイトル</label>
                    <div class="content-field">
                        <input formControlName="title" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.title">
                            {{
                            formErrors.title
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>アイキャッチ</label>
                    <div id="loadimage">
                        <img (click)="handleUpdateImage()" src="{{formWork.value.eye_catching}}"
                            onerror="this.src='assets/images/noimage.png'" alt="">
                        <input id="input-file-image-main" type="file" (change)="onChangeImageMain($event)"
                            accept="image/png,image/gif,image/jpeg,image/jpg">
                        <p class="errors" class="errors" *ngIf="formErrors.eye_catching">
                            {{
                            formErrors.eye_catching
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>本文</label>
                    <div class="content-field">
                        <textarea formControlName="description" name="" id="" cols="30" rows="10">

                        </textarea>
                        <p class="errors" class="errors" *ngIf="formErrors.description">
                            {{
                            formErrors.description
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>カテゴリー</label>
                    <div class="content-field">
                        <app-select-dropdown [multi]="true" (selectedOption)="handleSetCategory($event)"
                            [nameSelect]="category.name_select" [options]="category.list"></app-select-dropdown>
                        <p class="errors" class="errors" *ngIf="formErrors.category">
                            {{
                            formErrors.category
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>タグ</label>
                    <div class="content-field">
                        <app-select-dropdown [multi]="true" (selectedOption)="handleSetTag($event)"
                            [nameSelect]="tag.name_select" [options]="tag.list"></app-select-dropdown>
                        <p class="errors" class="errors" *ngIf="formErrors.tag">
                            {{
                            formErrors.tag
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>動画リンク</label>
                    <div class="content-field">
                        <input formControlName="video_link" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.video_link">
                            {{
                            formErrors.video_link
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>動画UP</label>
                    <div id="loadimage">
                        <div>
                            <img (click)="handleUpdateVideo()" src="assets/images/upload-image.png" alt="">
                            <p>{{name_file_upload}}</p>
                        </div>
                        <input id="input-file-main-video" type="file" (change)="onChangeVideo($event)"
                            accept="video/mp4,video/x-m4v,video/*">
                        <p class="errors" class="errors" *ngIf="formErrors.video_up">
                            {{
                            formErrors.video_up
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>SEOタイトル<br>
                        (title) </label>
                    <div class="content-field">
                        <input formControlName="meta_title" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.meta_title">
                            {{
                            formErrors.meta_title
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box" style="border-bottom: 2px dashed #707070;padding-bottom: 2rem">
                <div class="form-group">
                    <label>ディスク<br>
                        リプション<br>
                        (meta description)</label>
                    <div class="content-field">
                        <input formControlName="meta_description" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.meta_description">
                            {{
                            formErrors.meta_description
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <h3>施設情報</h3>
            <div class="form-group-box">
                <div class="form-group">
                    <label>コンテンツID</label>
                    <div class="content-field">
                        <input formControlName="content_id" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.content_id">
                            {{
                            formErrors.content_id
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>スポット名</label>
                    <div class="content-field">
                        <input formControlName="spot_name" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.spot_name">
                            {{
                            formErrors.spot_name
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>説明文</label>
                    <div class="content-field">
                        <textarea formControlName="explanatory_text" name="" id="" cols="30" rows="10"></textarea>
                        <p class="errors" class="errors" *ngIf="formErrors.explanatory_text">
                            {{
                            formErrors.explanatory_text
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>URL</label>
                    <div class="content-field">
                        <input formControlName="url" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.url">
                            {{
                            formErrors.url
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>住所</label>
                    <div class="content-field">
                        <div class="dflex">
                            <input formControlName="zip_code" type="text">
                            <button class="btn-blue">郵便番号から検索</button>
                        </div>
                        <div>
                            <input formControlName="address" type="text">
                        </div>
                        <p class="errors" class="errors" *ngIf="formErrors.address">
                            {{
                            formErrors.address
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>利用時間</label>
                    <div class="content-field">
                        <input formControlName="phone" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.phone">
                            {{
                            formErrors.phone
                            }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group-box">
                <div class="form-group">
                    <label>休日</label>
                    <div class="content-field">
                        <input formControlName="utilization_time" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.utilization_time">
                            {{
                            formErrors.utilization_time
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>利用料金</label>
                    <div class="content-field">
                        <input formControlName="holiday" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.holiday">
                            {{
                            formErrors.holiday
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>利用料金</label>
                    <div class="content-field">
                        <input formControlName="fee" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.fee">
                            {{
                            formErrors.fee
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>駐車場</label>
                    <div class="content-field">
                        <input formControlName="parking" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.parking">
                            {{
                            formErrors.parking
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>備考<br>
                        (決済情報など)</label>
                    <div class="content-field">
                        <textarea formControlName="remark" name="" id="" cols="30" rows="10"></textarea>
                        <p class="errors" class="errors" *ngIf="formErrors.remark">
                            {{
                            formErrors.remark
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>滞在時間</label>
                    <div class="content-field">
                        <input formControlName="stay_time" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.stay_time">
                            {{
                            formErrors.stay_time
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>軽度</label>
                    <div class="content-field">
                        <input formControlName="lng" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.lng">
                            {{
                            formErrors.lng
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>緯度</label>
                    <div class="content-field">
                        <input formControlName="lat" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.lat">
                            {{
                            formErrors.lat
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>カテゴリー</label>
                    <div class="content-field">
                        <input formControlName="category1" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.category1">
                            {{
                            formErrors.category1
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>画像</label>
                    <div class="content-field">
                        <div>
                            <div class="collection-image">
                                <div *ngFor="let item of imageList, let i = index">
                                    <div class="area">
                                        <img (click)="handleUpdateImage()" class="image" src="{{item.image}}"
                                            onerror="this.src='assets/images/noimage.png'" alt="">
                                        <input id="input-file-second-{{i}}" (change)="onChangeImageSecond($event, i)"
                                            accept="image/png,image/gif,image/jpeg,image/jpg" type="file">
                                    </div>
                                    <span *ngIf="item.is_delete" (click)="onDeleteSubImg(item, i)"
                                        class="delete">削除する</span>
                                </div>
                                <img class="addimage" (click)="addImage()" src="assets/images/icon-plus.png">
                            </div>
                        </div>
                        <p class="errors" class="errors" *ngIf="formErrors.image">
                            {{
                            formErrors.image
                            }}
                        </p>
                        <div class="checkbox">
                            <input type="checkbox" formControlName="is_featured">おすすめに掲載する
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>掲載期間</label>
                    <div class="content-field">
                        <div class="form-flex-inner">
                            <div class="flex-item">
                                <label></label>
                                <app-date-picker (actionTime)="getTime($event, 'time_start')" [date]="date.time_start"
                                    [pickerType]="'calendar'" [placeholder]="placeholder.start_at">
                                </app-date-picker>
                            </div>～
                            <div class="flex-item">
                                <label></label>
                                <app-date-picker (actionTime)="getTime($event, 'time_end')" [date]="date.time_end"
                                    [pickerType]="'calendar'" [placeholder]="placeholder.end_at">
                                </app-date-picker>
                            </div>
                        </div>
                        <p class="errors" class="errors" *ngIf="formErrors.time_start">
                            {{
                            formErrors.time_start
                            }}
                        </p>
                        <p class="errors" class="errors" *ngIf="formErrors.time_end">
                            {{
                            formErrors.time_end
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button (click)="handleReset()" class="btn-default">キャンセル</button>
                <button (click)="handleCreate()" class="btn-blue">登 録</button>
            </div>
        </div>
    </div>
</div>