.banner {
  background-image: url(/assets/images/v2/img_banner@1.5x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 26rem 2rem 17rem;

  .blur {
    max-width: 69.1rem;
    position: relative;
    width: 100%;

    &::before {
      content: "";
      background-color: rgba($color: #000000, $alpha: .62);
      filter: blur(3.7rem);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  h2.title {
    margin: 0;
    padding: 6.9rem 0;
    color: #fff;
    font-size: 4.8rem;
    line-height: 6.9rem;
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    background-image: url(/assets/images/v2/img_banner@1x.png);
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 11.3rem 0 7.3rem;

    h2.title {
      padding: 3.8rem 0;
      font-size: 2.4rem;
      line-height: 3.5rem;
    }
  }
}