.form{
    margin-top: 15rem;
    margin-bottom: 15rem;
    max-width: 57.6rem;
    margin-left: auto;
    margin-right: auto;
    .form-group{
        margin-bottom: 2rem;
        label{
            font-size: 1.4rem;
        }
        input{
            height: 3.6rem;
            display: flex;
            align-items: center;
            border-radius: 5px;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 28.8rem;
            border: 1px solid #E4E4E4;
            font-size: 1.4rem;
        }
    }
    button{
            height: 3.6rem;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            border-radius: 5px;
            line-height: 3;
            padding-left: 2rem;
            padding-right: 2rem;
            border: 0;
    }
}