#list {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;

    #head {
        margin-bottom: 5rem;
    }

}

@media(max-width: 768px) {
    #list {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}