/* .footer  */
.footer {
	background-color: #262626;
	padding: 7.6rem 4rem 1.2rem;
	#copired {
		text-align: center;
		font-size: 1.6rem;
		color: white;
		text-decoration: unset;
		margin: 4rem 0 0;
		font-family: var(--font-base);
		font-weight: 500;
	}

	.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

	.inner-footer {
		display: flex;
		justify-content: space-between;
		.left {
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			column-gap: 4.2rem;
			max-width: 77.6rem;
			li {
				margin-bottom: 0.8rem;
				a {
					font-size: 1.6rem;
					font-family: var(--font-base);
					font-weight: 500;
					color: white;
					text-decoration: unset;
					cursor: pointer;
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
		.right {
			ul {
				display: flex;
				justify-content: flex-end;
				padding-left: 0;
				padding-right: 0;
				margin-top: 0;
				margin-bottom: 2rem;
				li {
					padding: 0 1rem;
					width: 6.8rem;
					height: 4.8rem;
					position: relative;
				}
				a {
					overflow: hidden;
				}
				.image {
					transition-duration: 0.3s;
					transition-property: transform;
					transition-timing-function: ease-out;
					&:hover {
						transform: translateY(-0.8rem);
					}
				}
			}
			a#logo {
				position: relative;
				width: 26.7rem;
				height: 5.6rem;

				img {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
  .footer {
    padding: 1.8rem 1.1rem;
    #copired {
      margin-top: 6.3rem;
    }
    .inner-footer {
      flex-direction: column;
      .left {
        column-gap: 3rem;
        li {
          margin-bottom: 2.3rem;
          a {
            font-size: 1.4rem;
          }
        }
      }
      .right {
        ul {
          justify-content: center;
          margin-top: 3.1rem;
          margin-bottom: 3rem;
					
					li {
						width: 5.6rem;
						height: 3.6rem;
					}

          .image {
            object-fit: cover;
          }
        }
        a#logo {
					display: block;
					margin-left: auto;
					margin-right: auto;
        }
      }
    }
  }
  
}