<footer>
  <div id="inner-footer">
    <ul class="left">
      <li>
        <a routerLink="">サイトマップ</a>
      </li>
      <li>
        <a routerLink="">プライバシーポリシー</a>
      </li>
      <li>
        <a routerLink="">個人情報保護方針</a>
      </li>
      <li>
        <a routerLink="">運営会社情報</a>
      </li>
      <li>
        <a routerLink="">広告掲載について</a>
      </li>
      <li>
        <a routerLink="">会員利用規約</a>
      </li>
      <li>
        <a routerLink="">メールマガジンについて</a>
      </li>
      <li>
        <a routerLink="">退会について</a>
      </li>
      <li>
        <a routerLink="">お問い合わせ</a>
      </li>
    </ul>
    <div class="right">

      <ul>
        <li>
          <a href="">
            <img src="assets/images/instagram.png" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/images/tw.png" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/images/fb.png" alt="">
          </a>
        </li>
      </ul>

      <a id="logo" routerLink="/">
        <img src="assets/images/logo_wht@3x.svg" alt="">
      </a>
    </div>
  </div>
  <p id="copired">copired</p>
</footer>