footer {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #262626;

    #copired {
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Notosan';
        color: white;
        text-decoration: unset;
        margin: 5rem 0;
    }

    #inner-footer {
        display: flex;
        justify-content: space-between;

        .left {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            max-width: 762px;

            li {
                padding-right: 3rem;
                margin-bottom: 1rem;

                a {
                    font-size: 1.6rem;
                    font-size: 'Notosan';
                    color: white;
                    text-decoration: unset;
                }
            }
        }

        .right {
            ul {
                display: flex;
                justify-content: flex-end;
                padding-left: 0;
                padding-right: 0;
                margin-top: 0;

                li {
                    padding: 0 1rem;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    footer {
        padding-left: 1rem;
        padding-right: 1rem;

        #inner-footer {
            flex-direction: column;

            .left {

                li {
                    margin-bottom: 3rem;

                }
            }

            .right {
                ul {
                    justify-content: center;
                }
                a#logo{
                   img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                   }
                }
            }
        }
    }
}