<div id="list">
    <div id="head">
        <app-header-page [data]="pageInfo"></app-header-page>
    </div>
    <a class="back" (click)="back()">
        プラン設計　＞　新規登録</a>
    <div class="tab-delete">
        <span class="delete2" (click)="handleDelete()" *ngIf="id">
            <img src="assets/images/icon-delete.png" alt="">削除
        </span>
    </div>
    <div id="create-content">

        <div id="right" [formGroup]="formPlan">
            <div class="form-group-box">
                <div class="form-group">
                    <label>作成者</label>
                    <div>
                        <app-select-dropdown (selectedOption)="handleSetEmloyment($event)"
                            [nameSelect]="users.name_select" [options]="users.list"></app-select-dropdown>
                        <p class="errors" class="errors" *ngIf="formErrors.user">
                            {{
                            formErrors.user
                            }}
                        </p>
                    </div>
                </div>

            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>タイトル</label>
                    <div>
                        <input formControlName="title" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.title">
                            {{
                            formErrors.title
                            }}
                        </p>
                    </div>
                </div>

            </div>
            <div formArrayName="spaces" *ngFor="let add of getControlArray(); 
            let i=index, let last =last" [ngClass]="{'border-top': i != 0}">
                <div [formGroupName]="i">
                    <div class="form-group-box form-group-box-flex">
                        <div class="form-group">
                            <label>ID</label>
                            <div>
                                <input formControlName="id" type="text">
                                <p class="errors" *ngIf="getFormArray.at(i).invalid&&getFormArray.at(i).dirty">
                                    IDは1つ以上必須です<br>
                                    IDは半角数字で入力してください
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-box">
                        <div class="form-group">
                            <label for="">
                                移動手段
                            </label>
                            <div>
                                <app-select-dropdown style="display: block;max-width: 20rem"
                                    (selectedOption)="handleSetDelivery($event, i)" [nameSelect]="delivery.name_select"
                                    [options]="delivery.list"></app-select-dropdown>
                                <p class="errors" *ngIf="getFormArray.at(i).invalid&&getFormArray.at(i).dirty">
                                    移動手段を選択してください
                                </p>
                            </div>
                        </div>
                        <span class="delete" *ngIf="i != 0" (click)="removeAt(i)">
                            <img src="assets/images/icon-delete.png" alt="">削除
                        </span>
                    </div>
                    <div class="form-group-box form-group-box-flex">
                        <div class="form-group">
                            <label for="">所要時間</label>
                            <div>
                                <div class="box-input" style="display: block;max-width: 20rem">
                                    <input formControlName="time" type="text">
                                    <span>分</span>
                                </div>
                                <p class="errors" *ngIf="getFormArray.at(i).invalid&&getFormArray.at(i).dirty">
                                    所要時間を選択してください<br>
                                    所要時間は半角数字で入力してください
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-field">
                <img (click)="addItemForm()" src="assets/images/icon-plus.png">
            </div>
            <div class="form-button">
                <button (click)="handleReset()" class="btn-default">キャンセル</button>
                <button (click)="handleCreate()" class="btn-blue">登 録</button>
            </div>
        </div>
    </div>
</div>