<div id="list">
    <div id="head">
        <app-header-page [data]="pageInfo"></app-header-page>
    </div>
    <a class="back" (click)="back()">
        タグ　＞　新規登録</a>
    <div class="tab-delete">
        <span class="delete2" (click)="handleDelete()" *ngIf="id">
            <img src="assets/images/icon-delete.png" alt="">削除
        </span>
    </div>
    <div id="create-content">

        <div id="right" [formGroup]="formCategory">
            <div class="form-group-box">
                <div class="form-group">
                    <label>カテゴリー</label>
                    <div>
                        <input formControlName="title" type="text">
                        <p class="errors" class="errors" *ngIf="formErrors.title">
                            {{
                            formErrors.title
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box">
                <div class="form-group">
                    <label>親カテゴリー</label>
                    <div>
                        <app-select-dropdown (selectedOption)="handleParentCategory($event)"
                            [nameSelect]="categorys_parent.name_select" [options]="categorys_parent.list">
                        </app-select-dropdown>
                        <p class="errors" class="errors" *ngIf="formErrors.parent">
                            {{
                            formErrors.parent
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group-box form-group-box-flex">
                <div class="form-group">
                    <label>アイキャッチ</label>
                    <div id="loadimage">
                        <img (click)="handleUpdateImage()" src="{{formCategory.value.image}}"
                            onerror="this.src='assets/images/noimage.png'" alt="">
                        <input id="input-file-main" type="file" (change)="onChangeImageMain($event)"
                            accept="image/png,image/gif,image/jpeg,image/jpg">
                        <p class="errors" class="errors" *ngIf="formErrors.image">
                            {{
                            formErrors.image
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button (click)="handleReset()" class="btn-default">キャンセル</button>
                <button (click)="handleCreate()" class="btn-blue">登 録</button>
            </div>
        </div>
    </div>
</div>