// @import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/theme/commons.scss";
@import "./assets/theme/responsive.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* update your 'styles.css' with */
/* or your 'styles.scss' with */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@font-face {
    font-family: 'SourceHanSansJP-Bold';
    src: url(/assets/font/SourceHanSansJP-Bold.otf);
}

@font-face {
    font-family: 'Notosan';
    src: url(/assets/font/NotoSansJP-Medium.otf);
}


@font-face {
    font-family: 'SourceHanSansJP-Light';
    src: url(/assets/font/SourceHanSansJP-Light.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Regular';
    src: url(/assets/font/SourceHanSansJP-Regular.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Medium';
    src: url(/assets/font/SourceHanSansJP-Medium.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Normal';
    src: url(/assets/font/SourceHanSansJP-Normal.otf);
}

@font-face {
    font-family: 'SourceHanSansJP-Heavy';
    src: url(/assets/font/SourceHanSansJP-Heavy.otf);
}

@font-face {
    font-family: 'SFCompactDisplay-Bold';
    src: url(/assets/font/SFCompactDisplay-Bold.ttf);
}

@font-face {
    font-family: 'Rounded Mgen+ 1m Medium';
    src: url(/assets/font/rounded-mgenplus-1m-medium.ttf);
}


html{
    font-size: 62.5%;
    min-width: 320px;
    scroll-behavior: smooth;
    body{
        margin: 0;
        font-family: 'SourceHanSansJP-Regular', 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    }
}
*{
    box-sizing: border-box;

}
input:focus{
   outline: unset;
}
