<section id="banner">
    <div id="inner-banner">
        <!-- <img src="assets/images/fv.png" alt=""> -->
    </div>
</section>

<div id="sub-banner">
    <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let item of listBanner" carouselSlide>
            <div class="element" (click)="navigateBanner(item)" [ngStyle]="{'background-image': item.background}">
                <!-- <span>text</span> -->
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

<div class="el">
    <h3>
        <span>
            特徴
        </span>
    </h3>
    <ul>
        <li>
            <div>
                <img src="assets/images/e2.png" alt="">
            </div>
            <span>モデルコース</span>
            <p>あなたの好みに合わせた<br>
                モデルコースが作れる</p>
        </li>
        <li>
            <div>
                <img src="assets/images/e1.png" alt="">
            </div>
            <span>AIコンシェルジュ</span>
            <p>AIコンシェルジュが<br>
                最適なルートを提案</p>
        </li>
        <li>
            <div>
                <img src="assets/images/e3.png" alt="">
            </div>
            <span>動画</span>
            <p>施設の特徴を<br>
                動画で閲覧可能</p>
        </li>
    </ul>
</div>

<a id="building"></a>
<div class="tab">
    <ul>
        <li [ngClass]="{'active': item.active}" *ngFor="let item of listCategorys">
            <a routerLink="/" [queryParams]="{category_id: item._id}" fragment="building"
                routerLinkActive="router-link-active">
                <img src="{{item.image}}">
                {{item.title}}
            </a>
        </li>
    </ul>
</div>

<div class="building" *ngFor="let item of listData">
    <div class="building_top">
        <img src="{{item.image}}">
        <h3>{{item.title}}</h3>
        <a [routerLink]="['category', item.id]">すべて見る</a>
    </div>
    <div class="content">
        <owl-carousel-o [options]="customOptions2">
            <ng-template *ngFor="let child of item.datas" carouselSlide 
            [id]="child.id" [width]="customWidth">
                <div class="element" [ngStyle]="{'background-image': child.background}">
                    <div class="content-element">
                        <div>
                            <label *ngFor="let tag of child.tag">
                                #{{child.title}}
                            </label>
                        </div>
                        <span>{{child.title}}</span>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>