#banner {
    #inner-banner {
        background-image: url(/assets/images/fv@1.5x.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 79rem;
    }
}

#sub-banner {
    background-color: #10161B;
    padding: 9rem 0rem 4.8rem;

    ::ng-deep {
        owl-carousel-o {
            .owl-carousel {
                .owl-item {
                    .element {
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 13.3rem;
                            width: calc(100% - 13.3rem);
                            height: 100%;
                            background: linear-gradient(to right, #10161bff 0%, #10161bb5 71%, #10161b00 100%);
                        }
                    }

                    &.center {
                        .element {
                            &:before {
                                background: unset;
                            }
                        }

                        +.owl-item {
                            .element {
                                &:before {
                                    right: 0;
                                    left: 13.3rem;
                                    background: linear-gradient(to left, #10161bff 0%, #10161bb5 71%, #10161b00 100%);
                                }
                            }
                        }
                    }
                }

                .owl-dots {
                    margin-top: 2.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .owl-dot {
                        span {
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: #AEAEAE;
                            margin: 0 1.5rem;
                        }
                    }

                    .owl-dot.active {
                        span {
                            width: 2.1rem !important;
                            height: 2.1rem !important;
                            background-color: #E8E8E8 !important;
                        }
                    }
                }
            }
        }
    }

    .element {
        height: 28.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #686868;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

        span {
            font-size: 3.5rem;
            color: white;
            font-family: 'Notosan';
        }

    }
}

.el {
    background-color: #10161B;
    padding-bottom: 9.4rem;
    padding-top: 7rem;

    h3 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 4.8rem;

        span {
            font-size: 3.2rem;
            text-align: center;
            display: inline-block;
            padding: 0 1.7rem;
            position: relative;
            font-weight: bold;
            color: white;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            font-family: 'SourceHanSerif-Bold';
        }

        span::after {
            content: '';
            width: 8.1rem;
            height: 2px;
            background-color: white;
            left: - 8.2rem;
            top: 2rem;
            position: absolute;
        }

        span::before {
            content: '';
            width: 8.1rem;
            height: 2px;
            background-color: white;
            right: - 8.2rem;
            top: 2rem;
            position: absolute;

        }
    }

    ul {
        padding: 0;
        margin: 0 auto;
        display: flex;
        max-width: 99.2rem;

        li {
            width: calc(100% / 3);

            div {
                // min-height: 24.5rem;
                margin-bottom: 0.5rem;

                img {
                    height: 24.5rem;
                    max-width: 100%;
                    margin: 0 auto;
                    display: block;
                }
            }

            span {
                display: block;
                text-align: center;
                font-size: 2.4rem;
                color: white;
                font-family: 'SourceHanSerif-Medium';

            }

            p {
                font-size: 1.6rem;
                color: white;
                text-align: center;
                margin: 1rem 0;
                font-family: 'SourceHanSerif-Medium';

            }

            &:nth-child(1) {
                >div img {
                    margin-left: 0;
                }
            }

            &:nth-child(3) {
                >div img {
                    margin-right: 0;
                }
            }
        }
    }
}

.tab {
    background-color: #10161B;
    padding: 0 0 5.7rem;

    ul {
        margin: 0;
        padding: 2rem 4rem 1rem;
        display: flex;
        overflow: auto;
        border-bottom: 0.2rem solid white;

        &::-webkit-scrollbar {
            width: .8rem;
            height: .8rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb:active {
            background-color: transparent;
        }

        li {
            padding: 0 2.75rem;
            position: relative;
            flex-shrink: 0;

            &:hover {
                opacity: 0.7;
            }

            p {
                font-family: 'SourceHanSerif-Medium';
                font-size: 2.4rem;
                color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding-bottom: 1.1rem;
                margin: 0;

                img {
                    width: 3.4rem;
                    height: 3.4rem;
                    object-fit: cover;
                    margin-right: 0.5rem;
                }
            }

        }

        li.active {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 0.8rem;
                background-color: white;
                position: absolute;
                bottom: -1rem;
                left: 0;
                right: 0;
            }

            &:hover {
                opacity: 1;
            }
        }

    }
}

.tab+.building {
    padding-top: 0;
}

.building {
    background-color: #10161B;
    padding: 2.8rem 4rem;

    .building_top {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
            font-size: 3.2rem;
            line-height: 4.6rem;
            letter-spacing: 0.33rem;
            color: white;
            font-family: 'SourceHanSerif-Medium';
            margin: 0;
        }


        img {
            width: 4.8rem;
            height: 4.8rem;
            object-fit: cover;
            margin-right: 1rem;
        }

        a {
            border-radius: 2.4rem;
            color: #fff;
            background-color: #c82c2c;
            line-height: 2;
            font-size: 2.4rem;
            display: inline-block;
            margin-right: 0;
            margin-left: auto;
            padding: 0 3rem;
            text-decoration: unset;
            font-family: 'SourceHanSerif-Medium';
            transition: 0.4s all ease-in-out;

            &:hover {
                color: #c82c2c;
                background-color: #fff;
            }
        }
    }

    .content {
        ::ng-deep {
            owl-carousel-o {
                .owl-carousel {
                    .owl-nav {

                        .owl-prev,
                        .owl-next {
                            font-size: 5rem;
                            width: 3.3rem;
                            height: 5.6rem;
                            position: absolute;
                            background-color: transparent;
                            color: white;
                            text-align: center;
                            top: 40%;
                            cursor: pointer;
                            line-height: 0.9;
                        }

                        .owl-prev {
                            left: 0;
                        }

                        .owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }

        .element {
            height: 35rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #686868;
            max-width: 250px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            position: relative;

            .content-element {
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                padding: 1.6rem 1rem;
                background-color: rgba($color: #000000, $alpha: .55);

                span {
                    display: inline-block;
                    margin-top: 0.5rem;
                    font-size: 2.4rem;
                    line-height: 3.5rem;
                    color: white;
                    font-family: 'SourceHanSerif-Medium';
                }

                div {
                    label {
                        font-size: 1.5rem;
                        color: white;
                        font-family: 'SourceHanSerif-Medium';
                        padding: 0 1.7rem;
                        border-radius: 2rem;
                        background-color: #667CF2;
                    }
                }
            }

        }
    }
}

@media(max-width: 1280px) {
    #banner {
        #inner-banner {
            background-image: url(/assets/images/fv.png);
            min-height: 52.7rem;
        }
    }
}

@media(max-width: 768px) {
    #banner {
        #inner-banner {
            img {
                width: 100%;
                height: 52.7rem;
                object-fit: cover;
            }
        }
    }

    #sub-banner {
        padding: 3rem 0 1.4rem;

        ::ng-deep {
            owl-carousel-o {
                .owl-carousel {

                    .owl-item {

                        // max-width: calc(100vw - 10.2rem);
                        .element::before {
                            content: none;
                        }
                    }

                    .owl-dots {
                        margin-top: 1.6rem;

                        .owl-dot {
                            span {
                                width: 0.9rem;
                                height: 0.9rem;
                                margin: 0 0.9rem;
                            }
                        }

                        .owl-dot.active {
                            span {
                                width: 1.2rem !important;
                                height: 1.2rem !important;
                            }
                        }
                    }
                }
            }
        }

        .element {
            height: 16.3rem;
        }
    }

    .el {
        padding-top: 4.5rem;
        padding-bottom: 6rem;

        h3 {
            span {
                font-size: 1.8rem;
                padding: 0 1.2rem;

                &::after {
                    width: 4.9rem;
                    height: 0.1rem;
                    left: -4.9rem;
                    top: 1.3rem;
                }

                &::before {
                    width: 4.9rem;
                    height: 0.1rem;
                    right: -4.9rem;
                    top: 1.3rem;
                }
            }
        }

        ul {
            flex-direction: column;

            li {
                width: 100%;

                span {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.3rem;
                }

                &:nth-child(1)>div img {
                    margin-left: auto;
                }

                &:nth-child(3)>div img {
                    margin-right: auto;
                }
            }
        }
    }

    .tab {
        padding-bottom: 1.8rem;
        ul {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            li {
                padding: 0;
                margin-right: 1.7rem;
                a {
                    font-size: 1.4rem;
                    padding-bottom: 0.6rem;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }

    .building {
        padding: 0 0.5rem 1.3rem;

        .building_top {
            margin-bottom: 0.6rem;

            h3 {
                font-size: 1.8rem;
            }

            img {
                width: 2.6rem;
                height: 2.6rem;
                margin-right: 0.8rem;
            }

            a {
                color: #fff;
                font-size: 1.1rem;
                padding: 0 0.7rem;
            }
        }


        .content {
            ::ng-deep {
                owl-carousel-o {
                    .owl-carousel {
                        .owl-nav {

                            .owl-prev,
                            .owl-next {
                                top: 21%;
                                margin: 0;
                            }

                            .owl-prev {
                                left: 0;
                            }

                            .owl-next {
                                right: 0;
                            }
                        }
                    }
                }
            }

            .element {
                height: 14.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #686868;
                max-width: 15.6rem;

                .content-element {
                    padding: .5rem .4rem;
                    span {
                        font-size: 1.3rem;
                        line-height: 1.9rem;
                    }

                    div {
                        label {
                            font-size: 1.1rem;
                        }
                    }
                }

            }
        }
    }

}