<section id="banner">
    <div id="inner-banner">
        <img src="assets/images/fv.png" alt="">
    </div>
</section>
<div id="sub-banner">
    <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let item of listBanner" carouselSlide>
            <div class="element" (click)="navigateBanner(item)" [ngStyle]="{'background-image': item.background}">
                <!-- <span>text</span> -->
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
<div class="tab">
    <ul>
        <li [ngClass]="{'active': item.active}" *ngFor="let item of listCategorys">
            <a routerLink="/" [queryParams]="{category_id: item._id}" fragment="building"
            routerLinkActive="router-link-active"><img  src="{{item.image}}">{{item.title}}</a>
        </li>
    </ul>
</div>
<a id="building"></a>
<div class="building"  *ngFor="let item of listData">
    <h3>{{item.title}}<span>すべて見る</span></h3>
    <div class="content">
        <owl-carousel-o [options]="customOptions2">
            <ng-template *ngFor="let child of item.datas" carouselSlide>
                <div class="element" [ngStyle]="{'background-image': child.background}">
                    <span>{{child.title}}</span>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>