
/* BANNER  */
#banner {
  width: 100%;
  min-height: 77.05rem;
  background-image: url("/image/banner2@2x.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1280px) {
  #banner {
    min-height: 64.7rem;
    background-image: url("/image/banner2.png");
    background-position: center;
  }
}

@media (max-width: 768px) {
  #banner {
    min-height: 52.7rem;
  }
}

/* SLIDER BANNER */
.slider-banner {
	background-color: #10161b;
	padding: 13.2rem 0 7.4rem;
	position: relative;
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: -5rem;
		li {
			button {
				&:before {
					font-size: 1.5rem;
					color: #aeaeae;
				}
			}
			&.slick-active {
				button {
					&:before {
						font-size: 2.1rem;
						color: #e8e8e8 !important;
					}
				}
			}
		}
	}
	.slick-prev1 {
		left: 4rem;
	}
	.slick-next1 {
		right: 4rem;
	}
	.slick-slider {
		.item {
			padding: 0 3.2rem;
			width: 75%;
			max-width: 66.4rem;
			height: 28.3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			position: relative;
			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	right: 13.3rem;
			// 	width: calc(100% - 13.3rem);
			// 	height: 100%;
			// 	background: linear-gradient(to right, #10161bff 0%, #10161bb5 71%, #10161b00 100%);
			// }
			img {
				width: 100%;
				height: 28.3rem;
				object-fit: cover;
			}
		}
		.slick-center {
			.item {
				&::before {
					background: unset !important;
				}
			}
		}
		.slick-active {
			& + .slick-slide {
				&:not(.slick-active) {
					.item {
						&::before {
							right: 0;
							left: 13.3rem;
							background: linear-gradient(to left, #10161bff 0%, #10161bb5 71%, #10161b00 100%);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1366px) {
  .slider-banner {
    .slick-slider {
      .item {
        max-width: 56.8rem;
        &::before {
          right: 13.3rem;
          width: calc(100% - 13.3rem);
        }
        &.slick-active {
          & + .item {
            &:not(.slick-active):before {
              right: 0;
              left: 13.3rem;
            }
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 768px) {
  .slider-banner {
    padding-top: 8rem;
    padding-bottom: 3.2rem;
    .slick-slider {
      .item {
        max-width: 32.7rem;
        height: 16.3rem;
        padding: calc(3.7rem/2);
      }
    }
    .slick-dots {
      li {
        button {
          &:before {
            font-size: 0.9rem;
          }
        }
        &.slick-active {
          button {
            &:before {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .slider-banner .slick-prev1, 
    .slider-banner .slick-next1 {
    display: none;
  }  
}

/* BUIDING  */

.building {
	background-color: #10161b;
	padding: 7.4rem 0 11.9rem 4rem;
	.building_top {
		display: flex;
		align-items: center;
		margin-bottom: 1.7rem;
		h3 {
			font-size: 3.2rem;
			line-height: 4.6rem;
			letter-spacing: 0.33rem;
			color: white;
			font-family: "SourceHanSerif";
			font-weight: 500;
			margin: 0;
		}
		img {
			width: 4.8rem;
			height: 4.8rem;
			object-fit: cover;
			margin-right: 1.4rem;
		}
		a {
			border-radius: 2.4rem;
			color: #fff;
			background-color: #c82c2c;
			line-height: 2;
			font-size: 2.4rem;
			display: inline-block;
			margin-left: 3.8rem;
			padding: 0 3rem;
			text-decoration: unset;
			font-family: "SourceHanSerif";
			font-weight: 500;
			transition: 0.4s all ease-in-out;
			&:hover {
				color: #c82c2c;
				background-color: #fff;
			}
		}
	}
	.content {
		position: relative;
		.element {
			height: 35rem;
			width: 25rem !important;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #686868;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			margin-right: 1.5rem;
			.element-image {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
				top: 0;
				left: 0;
				transition: 0.4s all ease;
			}
			&:hover {
				.element-image {
					transform: scale(1.1);
				}
			}
			.content-element {
				position: absolute;
				right: 0;
				left: 0;
				bottom: 0;
				padding: 1.6rem 1rem;
				background-color: rgba(0, 0, 0, 0.55);
				span {
					font-size: 2.4rem;
					line-height: 3.2rem;
					color: white;
					font-family: "SourceHanSerif";
					font-weight: 500;
				}
				div {
					label {
						font-size: 1.5rem;
						color: white;
						font-family: "SourceHanSerif";
						font-weight: 500;
						padding: 0.2rem 1.6rem;
						border-radius: 2rem;
						background-color: #667cf2;
					}
				}
			}
		}
		.slick-prev2 {
			left: 0;
		}
		.slick-next2 {
			right: 4rem;
		}
	}
}

@media screen and (max-width: 768px) {
  .building {
    padding: 3.2rem 0 2.2rem 1.2rem;
    .building_top {
      margin-bottom: 0.6rem;
      h3 {
        font-size: 1.8rem;
      }
      img {
        width: 2.6rem;
        height: 2.6rem;
        margin-right: 0.8rem;
      }
      a {
        color: #fff;
        font-size: 1.1rem;
        padding: 0 0.7rem;
        margin-left: auto;
        margin-right: 2.2rem;
      }
    }
    .content {
      .slick-prev2 {
        left: 0;
      }
      .slick-next2 {
        right: 0;
      }
      .element {
        height: 13.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #686868;
        max-width: 9.9rem;
        margin-right: 0.5rem;
        .content-element {
          padding: 0.5rem 0.4rem;
          span {
            font-size: 1.3rem;
            line-height: 1.7rem;
          }
          div {
            label {
              font-size: 0.5rem;
              padding: 0.2rem 0.7rem;
            }
          }
        }
      }
    }
  }
  .building .content .slick-prev2,
    .building .content .slick-next2 {
    font-size: 3.5rem;
  }  
}

/* FIELD TOP  */
.field-top {
	background-color: #10161b;
	padding: 0 1rem;
	.inner-field {
		max-width: 101.3rem;
		margin-left: auto;
		margin-right: auto;
		padding-top: 4.3rem;
	}
	.collection-video {
		padding-top: 5.5rem;
		padding-bottom: 8.1rem;
		video {
			width: 100%;
			height: 37rem;
			max-width: 53.2rem;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom: 1rem;
		span {
			font-size: 4.2rem;
			line-height: 6rem;
			color: white;
		}
		small {
			display: block;
			font-size: 1.6rem;
			line-height: 2.3rem;
			color: white;
		}
	}
	.social {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.left {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			span {
				font-size: 1.4rem;
				text-align: center;
				padding: 0 1rem;
				color: white;
				border-radius: 2rem;
				background-color: #667cf2;
				margin-right: 1rem;
			}
		}
		.right {
			ul {
				display: flex;
				justify-content: flex-end;
				column-gap: 2.8rem;
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					img {
						transition-duration: 0.3s;
						transition-property: transform;
						transition-timing-function: ease-out;
						&:hover {
							transform: translateY(-0.8rem);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
  .field-top {
    padding: 0 1.6rem;
    .inner-field {
      padding-top: 4.97rem;
      position: relative;
    }
    .collection-video {
      padding-top: 1.4rem;
      padding-bottom: 3.3rem;
      video {
        height: 25rem;
      }
    }
    h3 {
      span {
        font-size: 3.4rem;
        line-height: 3.6rem;
      }
    }
    .social {
      .right {
        position: absolute;
        top: 2.18rem;
        right: 0;
        ul {
          column-gap: 1.6rem;
          li {
            img {
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
            }
          }
        }
      }
    }
  }  
}

/* FIELD  */

.field {
	background-color: #10161b;
	padding: 0 1.6rem;
	.inner-field {
		max-width: 102.3rem;
		margin-left: auto;
		margin-right: auto;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 2.7rem;
		span {
			font-size: 3.2rem;
			color: white;
			padding-bottom: 0.6rem;
			padding-right: 7.6rem;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				border: none;
				width: 70%;
				border-bottom: 0.1rem solid white;
			}
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				border: none;
				width: 30%;
				border-bottom: 0.1rem solid #667cf2;
			}
		}
	}
	.collection-image {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		padding-bottom: 10rem;
		div {
			height: 20rem;
			display: block;
			width: calc((100% / 3) - 1rem);
			overflow: hidden;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
			transition: 0.4s all ease;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	p {
		font-size: 1.6rem;
		color: white;
		margin-top: 0;
		margin-bottom: 0;
		padding-right: 3rem;
		padding-left: 3rem;
		padding-bottom: 8.5rem;
	}
	table {
		width: calc(100% - 6rem);
		border-collapse: collapse;
		margin-right: 3rem;
		margin-left: 3rem;
		tr {
			td {
				padding: 1.6rem 0;
				border-bottom: 1px dashed #bfbfbf;
				span {
					font-size: 1.8rem;
					color: #bfbfbf;
					display: block;
				}
				label {
					font-size: 1.8rem;
					color: white;
					display: block;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

@media (max-width: 768px) {
  .field {
    background-color: #10161b;
    padding: 0 1.6rem;
    h3 {
      span {
        padding-right: 4rem;
        font-size: 1.8rem;
      }
    }
    .collection-image {
      padding-bottom: 4.1rem;
      gap: 0.8rem;
      div {
        width: calc(50% - 0.4rem);
        height: auto;
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 1.9rem;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 7rem;
    }
    table {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
      tr {
        &:first-child {
          td {
            padding-top: 0;
          }
        }
        td {
          padding-top: 2.25rem;
          padding-bottom: 1.75rem;
          span {
            font-size: 1.3rem;
            line-height: 1.9rem;
          }
          label {
            font-size: 1.3rem;
            line-height: 1.9rem;
          }
        }
      }
    }
  }  
}