<div id="list">
    <div id="head">
        <app-header-page (changeHandler)="handleSearch($event)" [data]="pageInfo"></app-header-page>
    </div>
    <div id="content">
        <div class="item-banner" *ngIf="is_show_area">
            <div class="left">
                <div>
                    <img (click)="handleUpdateImage()" src="{{formBanner.value.image}}"
                        onerror="this.src='assets/images/noimage.png'" alt="">
                    <input id="input-file-main-new" type="file" (change)="onChangeImageNew($event)"
                        accept="image/png,image/gif,image/jpeg,image/jpg">
                    <p class="error" *ngIf="formErrors.image">
                        {{formErrors.image}}
                    </p>
                </div>
                <span class="caption">
                    新着
                </span>
            </div>
            <div class="right" [formGroup]="formBanner">
                <div class="form-group">
                    <label for="">リンク</label>
                    <div>
                        <input formControlName="url" type="text">
                        <p class="error" *ngIf="formErrors.url">
                            {{formErrors.url}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">掲載日</label>
                    <div>
                        <span>{{currentDate}}</span>
                    </div>
                </div>
                <div class="form-button">
                    <button class="btn-default" (click)="resetForm()">キャンセル</button>
                    <button class="btn-blue" (click)="handleCreate()">保存</button>

                </div>
            </div>
        </div>
        <div class="item-banner" *ngFor="let item of data, let i = index;">
            <div class="left">
                <div>
                    <img (click)="handleUpdateImageMain(i)" src="{{item.image}}"
                        onerror="this.src='assets/images/noimage.png'" alt="">
                    <input id="input-file-main{{i}}" type="file" (change)="onChangeImageMain($event, i)"
                        accept="image/png,image/gif,image/jpeg,image/jpg">
                </div>
                <p class="error"></p>
                <span class="caption">
                   {{item.cap}}
                </span>
            </div>
            <div class="right">
                <div class="form-group">
                    <label for="">リンク</label>
                    <div>
                        <input type="text" [(ngModel)]="item.url">
                        <p class="error" *ngIf="!item.url">
                            {{validationMessages.url.required}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">掲載日</label>
                    <div>
                        <span>{{item.created_time}}</span>
                    </div>
                </div>
                <div class="form-button">
                    <button class="btn-default" (click)="revertData(i)">キャンセル</button>
                    <button class="btn-blue" (click)="updateData(i)">登 録</button>
                    <span class="delete2" (click)="handleDelete(i)">
                        <img src="assets/images/icon-delete.png" alt="">削除
                    </span>
                </div>
            </div>
        </div>
        <div class="">
            <app-panigation (outputPage)="handlePage($event)" [pageSize]="panigation.pageSize"
                [totalPage]="panigation.totalPage" [currentPage]="panigation.currentPage"></app-panigation>
        </div>
    </div>
</div>