<div id="list">
    <div id="head">
        <app-header-page [data]="pageInfo"></app-header-page>
    </div>
    <div id="content">
        <div class="item-banner" *ngFor="let item of data">
            <div class="left">
                <div>
                    <img (click)="handleUpdateImage()" src="" onerror="this.src='assets/images/noimage.png'" alt="">
                    <input id="input-file-main" type="file" (change)="onChangeImageMain($event)"
                        accept="image/png,image/gif,image/jpeg,image/jpg">
                </div>
                <p class="error"></p>
            </div>
            <div class="right">
                <div class="form-group">
                    <label for="">リンク</label>
                    <div>
                        <input type="text">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">掲載日</label>
                    <div>
                        <input type="text">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="form-button">
                    <button class="btn-default">キャンセル</button>
                    <button class="btn-blue">登 録</button>
                </div>
            </div>
        </div>
    </div>
</div>